@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the app used to list the products .</p>
    <p>User Id : @ViewData["UserID"]</p>
</div>
